body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

p {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.title, .author {
    font-size: 4em;
    line-height: 1.2;
}

.subtitle {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 3em;
}

.translator, .publisher {
    font-size: 1.333em;
}

.publisher {
    margin-top: 1.5em;
}

.chapter {
    color: red;
    display: block;
    font-size: 1.333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.chapter_subtitle {
    display: block;
    font-size: 2.0em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}

.toc_header {
    font-size: 1.41667em;
    line-height: 1.2;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.toc_text {
    font-size: 1.41667em;
    line-height: 1.1;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.toc_subtitle {
    font-size: 1.6666666666em;
    margin-bottom: 0.75em;
}

.indent_and_justify {
    text-align: justify;
    text-indent: 2em;
}

.justify_right {
    text-align: right;
}

.citation {
    font-style: italic;
    margin-left: 4em;
    margin-top: 1em;
}

.poem {
    margin-left: 30%;
    margin-bottom: 2em;
}

.verse {
    margin-top: 2em;
}

p.verse_indent_by_2 {
    text-indent: 2em;
}

p.verse_indent_by_many {
    text-indent: 6em;
}
